<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>萝卜多后台管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minmun-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.6.1/angular.js"></script>
    <link href="style/login.css" rel="stylesheet">
    <script src="script/app.js"></script>
</head>
<body class="f_loginpage">
<!--登录框-->
<div class="f_login">
    <h3 class="f_title">萝卜多后台登录</h3>
    <form name="f_go" novalidate>
        <label class="box">
            <svg class="icon f_user1" aria-hidden="true">
                <use xlink:href="#icon-yonghu"></use>
            </svg>
            <input class="form-control" type="text" ng-model="userName" name="userName" ng-minlength="5" ng-maxlength="12" pattern="^[A-Za-z\d\S]+$" placeholder="用户名" required/>
        </label><br>
        <!--<div class="f_tipcap">-->
            <!--<div class="tips" ng-messages="f_go.userName.$error" ng-show="f_go.userName.$touched">-->
                <!--<p ng-message="required">请输入账号</p>-->
                <!--<p ng-message="minlength">账号最少为5位</p>-->
                <!--<p ng-message="maxlength">账号最多为12位</p>-->
                <!--<p ng-message="pattern">账号为字母或数字</p>-->
            <!--</div>-->
        <!--</div>-->
        <label class="box">
            <svg class="icon f_user2" aria-hidden="true">
                <use xlink:href="#icon-suo"></use>
            </svg>
            <input class="form-control" ng-model="password" type="password" name="password" maxlength="12" ng-minlength="5" placeholder="密码" pattern="^[A-Za-z\d\S]+$" required>
        </label>
        <!--<div class="f_tipcap">-->
            <!--<div class="tips" ng-messages="f_go.password.$error" ng-show="f_go.password.$touched">-->
                <!--<p ng-message="required">请输入密码</p>-->
                <!--<p ng-message="minlength">密码最少为5位</p>-->
                <!--<p ng-message="pattern">账号为字母或数字</p>-->
            <!--</div>-->
        <!--</div>-->
    </form>
    <span></span>
    <button ng-disabled="f_go.$invalid" ng-model="login" ng-click="login()" id="login">登录</button>

</div>

<!--阿里图标库-->
<script src="//at.alicdn.com/t/font_b8jpyzie9gujtt9.js"></script>

<script src="script/app/login.js"></script>
</body>
</html>